.normal-navbar, .docs-navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.nav-links {
  display: flex;
}

.nav-links a {
  margin-right: 15px;
  text-decoration: none;
}

/* Mobile styles */
@media (max-width: 768px) {
  .nav-links {
    display: none; /* Hide links */
  }
}

  