---
import { JSDOM } from "jsdom";
const contentStr = await Astro.slots.render("default");
const virtualDoc = new JSDOM(contentStr).window.document;
const contentHTML = virtualDoc.getElementsByTagName("p");
const links = Object.entries(virtualDoc.getElementsByTagName("a")).map(
  ([_, value]) => {
    return value.href;
  },
);
// console.log(new JSDOM(contentStr).window.document.getElementsByTagName('a').length)
const content = Object.entries(contentHTML).flatMap(([_, value]) => {
  if (value.textContent === null) return [];
  const texts = value.textContent.split("\n").map((t) => {
    const link = links.find((link) => t.includes(link)) ?? "";
    const ref = t.replace(link, "");
    return { ref, link };
  });
  return texts;
});
---

<div class="flex flex-col gap-y-3">
  {
    content.map(({ ref, link }) => (
      <span class="pl-8 -indent-8">
        {ref}
        <a target="_blank" href={link}>
          {link}
        </a>
      </span>
    ))
  }
</div>
