/* DO NOT INCLUDE @tailwind base, components, utilities */
/* IT WILL BREAK THE STYLING!!! */

.btn-primary {
  @apply flex items-center gap-y-2 gap-x-6 rounded-full bg-black text-white border border-black duration-200 px-5 font-semibold hover:bg-transparent hover:text-black;
}

.header {
  background-color: transparent;
  border-color: transparent;
  backdrop-filter: blur(4px);
}
.hero {
  /* --sl-color-hairline: transparent; */
  display: none;
}
