/* DO NOT INCLUDE @tailwind base, components, utilities */
/* IT WILL BREAK THE STYLING!!! */

.btn-primary {
  @apply flex items-center gap-y-2 gap-x-6 rounded-full bg-black text-white border border-black duration-200 px-5 font-semibold hover:bg-transparent hover:text-black;
}

.header {
  background-color: transparent;
  border-color: transparent;
  backdrop-filter: blur(4px);
}
.hero {
  /* --sl-color-hairline: transparent; */
  display: none;
}

.gradient-background {
  background: radial-gradient(circle, #dd4676 10%, transparent 60%);
}

.blur {
  backdrop-filter: blur(10px);
  clip-path: circle(40%);
}

.background-image {
  background-image: url("./public/particles.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.glowing-text {
  text-shadow:
    0 0 5px rgba(255, 255, 255, 0.8),
    /* Inner glow */ 0 0 10px rgba(255, 255, 255, 0.6),
    /* Middle glow */ 0 0 15px rgba(255, 255, 255, 0.4); /* Outer glow */
}
